body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    border-top: 1px solid #c1c1c1;
}

.music:hover {
    background: #e2c2c2;
    cursor: pointer;
}
.music:hover .music_name {
    color: white;
}
.music img {
    height: 120px;
}
.music .music_name {
    font-size: 19px;
    padding-top: 15px;
}
#player_container {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 80px;
    background: #1e3e9a;
    z-index: 100;
}
#player_container img {
    height:80px;
    margin-left:30px;
}
#player_container audio {
    margin-left:60px;
     margin-top:24px;
}
#player_music_name {
    color: white;
    font-size: 16px;
    line-height: 80px;
    vertical-align: middle;
}