body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body{
    padding-bottom:150px;
}
.navbar-fixed-top {
    background: #58b740;
    border-color: #3e9429;
}
.navbar-brand, .nav li a {
    color: white!important;
    font-weight: bold;
}
hr {
    border-top: 1px solid #c1c1c1;
    margin-top: 0px;
    margin-bottom: 0px;
}
.music
{
    padding: 15px 0px 15px 0px;
    transition: all 0.3s ease-in-out;
    height: 120px;
    background: rgba(143, 214, 125, 0.15); ;
}
.music:hover {
    background: #8fd67d;
    cursor: pointer;
    height: 150px;
    padding: 30px 0px;

}
.music:hover .music_name {
    color: white;
    font-size: 18px;
}

.music img {
    height: 90px;
    vertical-align:middle;
}
.music .music_name {
    font-size: 15px;
    padding-top: 25px;
    transition: all 0.3s ease-in-out;
}
.music .music-control {
    margin-top: 25px;
} 
#player_container {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -81px;
    height: 80px;
    background: #58b740;
    z-index: 100;
    transition: bottom 0.5s ease-in-out;
}
#player_container img {
    height:80px;
    margin-left:30px;
}
#player_container audio {
    margin-left:60px;
     margin-top:24px;
}
#player_music_name {
    color: white;
    font-size: 16px;
    line-height: 80px;
    vertical-align: middle;
}
h2
{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

.navbar-brand
{
    font-family: Fuji;
    font-size: 40px;
}

body
{
background:url(supinfy.png) no-repeat fixed center;
background-size: 90%;
}
@font-face {
    font-family: Fuji;
    src: url('Fuji Quake Zone.ttf');
}

.single-line {
    float: left;
    margin-right: 5px;
}

.friend-name {
    font-size:18px;
    font-weight: bold;
}