@model Supinfy.ViewModel.MusicSearchVM
@{
    ViewBag.Title = "SearchMusic";
}

<h2>Search Results</h2>


@if (Model.Headers.code != 0)
{
    <h4>Error: @Model.Headers.error_message</h4>
}
else if (Model.Headers.results_count == 0)
{
    <h4>Sorry, any result match with your search</h4>

}
else
{
    foreach (var music in Model.Results)
    {
        Html.RenderPartial("MusicBlock", Model.ToVM(music));
    }
}

        <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose your playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
