@model Supinfy.ViewModel.UserSearchResultVM
@{
    ViewBag.Title = "Search a User";
}

<h2>SearchUser</h2>

@Html.ActionLink("Go back", "Index")
@if (Model.ResultCount == 0)
{
    <h4>Sorry, any result match with your search</h4>
}
else
{
    foreach (var user in Model.ResultList)
    {
        <div class="row">
            <div class="col-md-12">
                <hr />
                <br />
                <div class="friend-name col-md-2">@user.Name</div>
                @Html.ActionLink(" Add", "AddToFriend", new {friendId = user.Id}, new { @class = "btn btn-success glyphicon glyphicon-plus" })
            </div>
        </div>
    }
    if (Model.ResultCount == 100)
    {
        <h4>You have hit maximum result, try something more specific for better result.</h4>
    }
}
