@model Supinfy.ViewModel.UserSearchResultVM
@{
    ViewBag.Title = "SearchUser";
}

<h2>SearchUser</h2>

@Html.ActionLink("Go back", "Index")
@if (Model.ResultCount == 0)
{
    <h4>Sorry, any result match with your search</h4>
}
else
{
    foreach (var user in Model.ResultList)
    {
        <div class="row">
            <hr />
            <div class="col-md-4">
                @Html.Label(user.Name)
                @Html.ActionLink("Add a friend", "AddToFriend", new {friendId = user.Id})
            </div>
        </div>
    }
    if (Model.ResultCount == 100)
    {
        <h4>You have hit maximum result, try something more specific for better result.</h4>
    }
}
