@model Supinfy.ViewModel.PlaylistVM
@{
    ViewBag.Title = "Detail";
}

<div class="row">
    <div class="col-md-4">
        <h2>Detail - @Html.DisplayFor(m => Model.Name)</h2>
        <p>Created by @Html.DisplayFor(m => Model.OwnerName), this playlist contains @Html.DisplayFor(m => Model.MusicCount) track@(Model.MusicCount > 0 ? "s" : "")</p>
        <i>@Html.Label(Model.CreationDate.ToShortDateString())</i><br />
    </div>
</div>

@if (Model.MusicCount == 0)
{
    <div>
        <h2>This paylist has no music yet.</h2>
    </div>
}

@foreach (var music in Model.MusicList)
{
    Html.RenderPartial("MusicBlock", music);
}